html body page{
    width: 100%;
    height: 100%;
    margin: 0;
}
page{
    font-size:180px;
    position: absolute;
    padding-top: 500px;
    padding-left: 400px;
    box-sizing: border-box;
}
.c{
    background: url("../img/1.jpg") no-repeat;
    background-size: 100% 100%;
    animation: c 10s infinite;
}

.x{
    background: url("../img/2.jpg") no-repeat ;
    background-size: 100% 100%;
    animation: x 10s infinite;
}
.q{
    background: url("../img/3.jpg") no-repeat;
    color: yellow;
    background-size: 100% 100%;
    animation: q 10s infinite;
}

.d{
    background: url("../img/4.jpg") no-repeat ;
    background-size: 100% 100%;
    color: white;
    animation: d 10s infinite;
}
.z{
    font-size:80px;
    display: block;
    margin-top: 40px;
    animation: z 10s infinite;
}

@keyframes z {
    0%{opacity: 0}
    70%{opacity: 0}
    80%{opacity:100}
    90%{opacity:100}
    100%{opacity: 0}
}
@keyframes  c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes  x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes  q {
    0%{opacity: 0}
    40%{opacity:0}
    60%{opacity:100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes  d {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity:100}
    100%{opacity: 0}
}